.created-by-container {
  @media(min-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  p {
    @media(max-width: 767.98px) {
      font-size: 11px;
      line-height: 14px;
    }
  }
  .circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: $primary;
    display: inline-block;
    margin-right: 5px;
    @media(max-width: 767.98px) {
      display: none;
    }
  }
}