.footer-wrapper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $light-grey;
    background: $white;
    @media (min-width: 768px) {
        margin-top: 96px;
        height: 253px;
    }
    .title {
        font-family: $secondary-font;
        margin-bottom: 11px;
        line-height: 18px;
    }
    .top-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 auto;
        max-width: 1440px;
        padding: 68px 20px 0;
        column-gap: 30px;
        width: 100%;
        flex: 1;
        @media (min-width: 1200px) {
            padding: 68px 71px 0;
            column-gap: 40px;
        }
        @media (max-width: 767.98px) {
            padding: 30px 24px 0;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr auto;
            row-gap: 52px;
            column-gap: 10px;
        }
        .logo-container {
            grid-area: 1 / 1 / 2 / 2;
            @media (max-width: 767.98px) {
                grid-area: 2 / 1 / 3 / 3;
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
            }
            .poap-logo {
                width: 59px;
                height: 78px;
                @media (min-width: 768px) {
                    width: 49px;
                    height: 65px;
                }
            }
            .made-by-xivis {
                display: flex;
                align-items: center;
                color: $dark-grey-text-2;
                margin-top: 10px;
                @media (max-width: 767.98px) {
                    margin-top: 47px;
                }
                a {
                    color: $dark-grey-text-2;
                    text-decoration: none;
                    font-weight: 700;
                    transition: all 0.2s linear;
                    &:hover {
                        color: $primary;
                    }
                }
                .heart-icon {
                    background: url('../../assets/icons/heart-icon.svg') center / contain no-repeat;
                    height: 14px;
                    width: 14px;
                    margin-left: 6px;
                }
            }
        }
        .about-container {
            grid-area: 1 / 1 / 2 / 2;
            @media (min-width: 768px) {
                grid-area: 1 / 2 / 2 / 3;
            }
            .about-list {
                padding: 0;
                list-style: none;
                margin: 0;
                @media (min-width: 768px) {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    grid-template-rows: repeat(2, 1fr);
                    column-gap: 48px;
                    row-gap: 5px;
                }
                li {
                    width: max-content;
                    @media (max-width: 767.98px) {
                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }
                    }
                }
                a {
                    text-decoration: none;
                    color: $dark-grey-text-2;
                }
            }
        }
        .join-container {
            grid-area: 1 / 2 / 2 / 3;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            @media (min-width: 768px) {
                grid-area: 1 / 3 / 2 / 4;
            }
            min-width: 160px;
            .social-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                a {
                    height: 28px;
                    width: 28px;
                    display: inline-flex;
                    &:not(:last-child) {
                        margin-right: 4px;
                        @media (min-width: 768px) {
                            margin-right: 8px;
                        }
                    }
                    @media (min-width: 768px) {
                        height: 24px;
                        width: 24px;
                    }
                }
                .social-link {
                    height: 100%;
                    width: 100%;
                    &.twitter {
                        background: url("../../assets/icons/twitter-logo.svg") center / contain no-repeat;
                    }
                    &.github {
                        background: url("../../assets/icons/github-logo.svg") center / contain no-repeat;
                    }
                    &.telegram {
                        background: url("../../assets/icons/telegram-logo.svg") center / contain no-repeat;
                    }
                    &.reddit {
                        background: url("../../assets/icons/reddit-logo.svg") center / contain no-repeat;
                    }
                    &.discord {
                        background: url("../../assets/icons/discord-logo.svg") center / contain no-repeat;
                    }
                }
            }
        }
    }
    .built-on-container {
        background: #F7F7F7;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-container {
        width: 100%;
        height: 210px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        @media (min-width: 500px) {
            height: 300px;
        }
        @media (min-width: 600px) {
            height: 350px;
        }
    }
}