// app global css in Stylus form
h1
  color $primary
  font-weight bold
  margin-bottom: 0rem

h2, h5
  margin-bottom: 0rem

.primary
  color $primary

.secondary
  color $secondary

.body--light, .dark-toggle
  color $dark

  .hyperlink
    color $primary
    text-decoration underline
    cursor pointer
    // Without this, the underline extends into the space for some reason
    // solution source: https://stackoverflow.com/questions/23182904/css-underline-text-but-ignore-the-spaces
    display inline-block

.body--dark
  .dark-toggle
    color $light

  .hyperlink
    color $darkprimary
    text-decoration underline
    cursor pointer
    // Without this, the underline extends into the space for some reason
    // solution source: https://stackoverflow.com/questions/23182904/css-underline-text-but-ignore-the-spaces
    display inline-block